.home-container {

        
    


    .jumbotron { 
        background-color: #8DC052;  //#f4511e; /* Orange */
        color: #fff;
        padding: 100px 25px;

        border-radius: 0px;

    }
}